body {
    margin: 0;
    background-color: #191A1D;;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background: #191A1D;
}

#logo {
    color: #d30000;
    font-size: x-large;
    font-weight: bold;
    margin-right: 1050px;
}

#logoDiv {
    background: goldenrod;
    border-radius: 10px;
    border: 1px solid white;
}

a {
    text-decoration: none;
    color: #6827b0;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -34px;
}
.add_movie {
    text-decoration: none;
    color: #6827b0;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -34px;
}

a:hover {
    background: #191A1D;
    border-radius: 10px;
}

#magnifying {
    padding: 4px;
}

#formContainer {
    margin: 20px 0;
    text-align: center;
    height: 300px;
    background-image: url("../../../../../../Movie-Matthew-Darien/jalopy-main/assets/searchParty.png");
    background-position: center;
    border: white 1px solid;
}

#formInnerContainer {
    margin-top: 80px;
}

#searchForm {
    margin-top: 80px;
    margin-left: 500px;
    width: 20%;
    padding: 20px;
    background: darkred;
    border-radius: 10px;
    border: 1px solid black;
    opacity: 90%;
}

#searchLabel {
    color: white;
    font-size: x-large;
}

#searchInput {
    margin-bottom: 10px;
}

#movieTemplate {
    border-radius: 10px;
    border: 1px solid  #8A00FC;
}

.movieDetails {
    color: #8a00fc;
}

#moviesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flip-card {
    background-color:#191A1D; ;
    width: 300px;
    height: 450px;
    border: 1px solid #8A00FC;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 7px;
    margin-bottom: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 10px;
}

/* Style the back side */
.flip-card-back {
    background-color:#191A1D;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    overflow-x: auto;
}

#loadingDiv {
    display: flex;
    justify-content: center;
    height: 600px;
}

#loading {
    color: white;
    font-weight: bold;
}

#homeViewH1 {
    /*margin-top: 40px;*/
    color: white;
    display: flex;
    justify-content: center;
}

#homeContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

hr {
    height: 50%;
}

.backOverview {
    margin: 20px 10px;
}

#titleLabel {
    color: white;
}

#genreLabel {
    color: white;
}
nav {
    display: block ;

}

h1 {
    font-family:Baskerville,Times,'Times New Roman',serif;
    font-size:75px;
    color:white;
    font-variant:small-caps;
    text-align:center;
    font-weight:bold;
    padding:15px 0px 15px 0px; /* Tweak this to your liking */
}
.h1_class{
    font-family:Baskerville,Times,'Times New Roman',serif;
   font-size: 40px;
    color:white;
    font-variant:small-caps;
    text-align:center;
    font-weight:bold;
    padding:15px 0px 15px 0px; /* Tweak this to your liking */
}


.mypopcorn {
    padding:20px;
}

.popcorn{
    margin: auto;
    position: absolute;
    width:85px;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
}

circle#popcrncirlce {
    fill: #FFE477;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-animation: rotate 1.5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
    animation: rotate 1.5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}



@-webkit-keyframes rotate {
    50% {
        -webkit-transform: translate(0px, 100px);
    }
}

@keyframes rotate {
    50% {
        transform: translate(0px, 100px);
    }
}

.edit-btn, .delete-btn {
    color: #8a00fc;
}
h2{
    font-family:Baskerville,Times,'Times New Roman',serif;
    font-size:24px;
    font-variant:small-caps;
    text-align:center;
    font-weight:bold;
    padding:15px 33px 15px 0px /* Tweak this to your liking */
}
.no_pressure{
    width: 40px;
}
.form_{
    width: 31%;

    margin: auto;
}
::-webkit-scrollbar {
    width: 6px;
    border: 3px solid #5c03a2;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #191A1D;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #8a00fc;
}
.del_photo fas fa-times{
    position: fixed;
}
.edit_photo {
    position: fixed;
}